<!DOCTYPE html>
<html>
  <head>
    <title><%=title %></title>
  </head>
<body>
  <h1><%=title %></h1>
  <br></br>
  <h2>Products in category </h2>
  <% products.map(product =>{ %>
    <form action ="/product" method ="get">
      <input type="hidden" id="product" name="product" value="<%= product.id %>">
      <button type ="submit" ><%= product.product_name %></button>
    </form>
   <% }) %>
</body>
</html>